*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

#nav {
    background-color: #33333333;
    position: sticky;
    width: 100%;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
}
.menu {
    display: grid;
    width: 60%;
    grid-template-columns: repeat(4, 4fr);
    text-align: center;
}
li {
    padding: 10px 0;
}
li:hover{
    color: #fff;
    padding: 10px 0;
    background-color: red;
}